body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #1e293b;
  color: #475569;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#signImage {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signsContainer {
  border: 6px solid #5048e8;
  padding: 10px;
  display: inline-block;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
  border-radius: 10%;
}

#signsContainer img {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#mic {
  fill: #5048e8;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#mic.active {
  fill: rgb(61, 173, 61);
  animation: scale 2s infinite;
}

.green {
  border: 6px solid rgb(61, 173, 61) !important;
}

/* Responsive styles */
@media (max-width: 600px) {
  #signImage,
  #signsContainer img {
    max-width: 100px;
    max-height: 100px;
  }

  #mic {
    width: 40px;
    height: 40px;
  }

  /* #signsContainer {
    min-width: 300px;
    min-height: 300px;
  } */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e293b;
  color: #94a3b8;
  text-align: center;
  padding: 10px 0;
}

a {
  color: #e11d48;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
